html,
body {
    height: 100%;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    align-items: center;
    display: flex;
    gap: 8px;
    margin: 0;
}

router-outlet {
    display: none;
}

ng-component {
    box-sizing: border-box;
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 8px;
}