<h3>
    <mat-icon svgIcon="blocks"/>
    Pile technologique (stack)
</h3>
<p>
    La stack MEAN regroupe un ensemble de technologies JavaScript (et/ou
    TypeScript) permettant de créer des projets full stack. Elle se
    compose de 4 technologies principales:
</p>
<ul>
    <li>MongoDB</li>
    <li>Express</li>
    <li>Angular</li>
    <li>Node.js</li>
</ul>
<h5>
    <mat-icon svgIcon="database"/>
    MongoDB
</h5>
<p>
    MongoDB est la base de donnée du stack. Ce système est NoSQL
    (non-relationel). C'est-à-dire que les données sont stockées sous forme de
    documents JSON donc indépendants les un des autres, à la différence des
    bases de données SQL.
</p>
<h5>
    <mat-icon svgIcon="server"/>
    Express
</h5>
<p>
    Express est un framework permettant de créer un serveur web (backend). Il
    assure la liaison entre l'interface utilisateur et MongoDB (via Mongoose par
    exemple).
</p>
<h5>
    <mat-icon svgIcon="labtop"/>
    Angular
</h5>
<p>
    Angular est un framewrok frontend basé sur MVC (Model View Controller). Il
    permet de définir un interface utilisateur à partir de composants (classes)
    réutilisable.
</p>
<h5>
    <mat-icon svgIcon="hexagon"/>
    Node.js
</h5>
<p>
    Node.js est un environnement JavaScript permettant d'exécuter du code sur un
    serveur. Il bénificie d'un répertoire de modules complémentaires (npm)
    offrant une multitude de fonctionnalités (tel que Express et Mongoose).
</p>
<h3>
    <mat-icon svgIcon="circle-help"/>
    Intérêt de la stack MEAN
</h3>
<p>
    Cette pile technologique permet d'utiliser uniquement des technologies
    JavaScript ce qui implique une meilleure compatibilité entre les outils de
    développement.
</p>
<p>
    La stack MEAN est très proche de MERN (React) et MEVN (Vue.js). On peut donc
    se poser la question du choix d'utiliser Angular, moins populaire.
</p>
<p>
    Angular se démarque sur des projets avec une complexitée importante grâce à
    son système de composant. De plus, il utilise maintenant TypeScript qui est
    de plus en plus populaire et est un avantage non négligeable afin de
    détecter au plus tôt des bugs pendant la phase de développement.
</p>