<h3>
    <mat-icon svgIcon="circle-help"/>
    MEAN Experience, kesako?
</h3>
<p>
    Ce site web est destiné à répertorier les informations que j'ai pu (en tant
    qu'auteur de ce site) accumuler au fur-et-à-mesure de mon expérience en tant
    que développeur web.
</p>
<h3>
    <mat-icon svgIcon="book"/>
    Historique
</h3>
<p>
    Alors sorti d'étude et ayant commencer dans une petite entreprise qui ne
    faisait alors encore aucun développement d'application web, j'ai dû
    participer au lancement d'un projet de terminal de point de vente web et à
    l'auto-formation de mon équipe à la stack MEAN.
</p>
<p>
    Les informations sont donc, par ailleurs, parfois issues d'un point de vue
    subjectif. Je me permet donc de vous rappeler de croiser toute "vérité" que
    vous lirez ici: ce site relate de mon approche de la stack qui est un axe de
    découverte et non une documentation officielle.
</p>
<h3>
    <mat-icon svgIcon="list"/>
    Résumé
</h3>
<p>
    Vous pourrez donc retrouver sur ce site:
</p>
<ul>
    <li>
        Une présentation des différentes techonologies composant la stack.
    </li>
    <li>
        Des notions propres à chaque techonologies et outils.
    </li>
    <li>
        Des bonnes pratiques qui, bien que personnelles pour certaines,
        permettent de structurer le code.
    </li>
    <li>
        Et plus selon son évolution!
    </li>
</ul>